<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment :: header"></div>
<body class="login-page sidebar-collapse">
<div th:replace="fragment :: navbarLogin"></div>

    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(assets/img/UI.jpg)"></div>
            <div class="container">
                <div class="col-md-4 content-center">
                    <p>Waduuu...</p>
                    <h1 class="title">Error 404</h1>
                    <p class="category">Halaman Tidak Ditemukan :"(</p>
                </div>
            </div>
        </div>

        <div th:replace="fragment :: footer"></div>
    </div>
</body>
<div th:replace="fragment :: javascript"></div>

</html>