<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment :: header"></div>
<body class="profile-page sidebar-collapse">
    <div th:replace="fragment :: navbarAdmin"></div>
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-image: url('img/UI.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="photo-container">
                        <img src="../img/ryan.jpg" alt="" />
                    </div>
                    <h3 class="title" th:text="${mahasiswa.nama}">Wendy Damar Wisma Trisna Bayu</h3>
                    <p class="category" th:text="${mahasiswa.npm}">1506737823</p>
                    <div class="content">
                        <div class="social-description">
                            <h2 th:text="${mahasiswa.sks_total}">138</h2>
                            <p>SKS</p>
                        </div>
                        <div class="social-description">
                            <h2 th:text="${mahasiswa.ip}">3.6</h2>
                            <p>IP</p>
                        </div>
                        <div class="social-description">
                            <h2 th:text="${mahasiswa.ipk}">3.4</h2>
                            <p>IPK</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div >
                            <!-- Tabs with Background on Card -->
                            <div class="card">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                </ul>
                                <h6 class="title">Data Diri</h6>
                                <div class="card-body">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                            <p th:text="'Nama : ' + ${mahasiswa.nama}">Nama : Wendy Damar Wisma Trisna Bayu</p>
                                            <p th:text="'NPM : ' + ${mahasiswa.npm}">NPM : 1506737823</p>
                                            <p th:text="'Fakultas : ' + ${mahasiswa.nama_fakultas}">Fakultas : Ilmu Komputer</p>
                                            <p th:text="'Prodi : ' + ${mahasiswa.nama_prodi}">Jurusan : Sistem Informasi</p>
                                            <p th:if="${mahasiswa.is_dapat_lulus} == 0" th:text='Belum Lulus'>Belum lulus</p>
                                            <p th:if="${mahasiswa.is_dapat_lulus}" th:text='Lulus'>Belum lulus</p>
                                            <div class="text-center"><button class="btn btn-primary btn-round" type="button">Ubah IRS</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div >
                            <!-- Tabs with Background on Card -->
                            <div class="card">
                                <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist" data-background-color="orange">
                                </ul>
                                <h3 class="title">Jadwal</h3>
                                <div class="card-body">
                                    <!-- Tab panes -->
                                    <div class="tab-content text-center">
                                        <div class="tab-pane active" id="home1" role="tabpanel">
                                            <table class="table table-striped table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Kode Matkul</th>
                                                        <th class="text-center">Mata Kuliah</th>
                                                        <th class="text-center">Kelas</th>
                                                        <th class="text-center">Jadwal</th>
                                                        <th class="text-center">Ruangan</th>
                                                        <th class="text-center">Dosen</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>CSC123123</td>
                                                        <td>Sistem Interaksi</td>
                                                        <td>B</td>
                                                        <td>Senin 08.00 - 09.00 Rabu 08.00 - 10.00</td>
                                                        <td>2603</td>
                                                        <td>Ade Azurat S.Kom</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CSC123123</td>
                                                        <td>Sistem Interaksi</td>
                                                        <td>B</td>
                                                        <td>Senin 08.00 - 09.00 Rabu 08.00 - 10.00</td>
                                                        <td>2603</td>
                                                        <td>Ade Azurat S.Kom</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CSC123123</td>
                                                        <td>Sistem Interaksi</td>
                                                        <td>B</td>
                                                        <td>Senin 08.00 - 09.00 Rabu 08.00 - 10.00</td>
                                                        <td>2603</td>
                                                        <td>Ade Azurat S.Kom</td>
                                                    </tr>
                                                </tbody>
                                          </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>             
                    </div>                    
                </div>
            </div>
        </div>
        <div th:replace="fragment :: footer"></div>
    </div>
</body>
<div th:replace="fragment :: javascript"></div>
</html>