<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragment :: header"></div>
<body class="profile-page sidebar-collapse">
	<div th:replace="fragment :: navbarAdmin"></div>

	<div class="wrapper">

		<div class="page-header page-header-small" filter-color="orange">
			<div class="page-header-image" data-parallax="true"
				style="background-image: url('/img/UI.jpg');"></div>
			<div class="container">
				<div class="content-center">
					<h3 class="title">Ubah Mahasiswa</h3>
				</div>
			</div>
		</div>

		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div>

							<!-- Tabs with Background on Card -->
							<div class="card">
								<ul class="nav nav-tabs nav-tabs-neutral justify-content-center"
									role="tablist" data-background-color="orange">
								</ul>
								<h3 class="title">Ubah Mahasiswa</h3>
								<div class="card-body">

									<!-- Tab panes -->
									<div class="tab-content text-left">
										<div class="tab-pane active" id="home1" role="tabpanel">
											<form th:action="@{/mahasiswa/update}" method="post">
												<div class="row">
													<div class="col-md-12">
														<div class="form-group">
															<label>Nama Lengkap</label> <input type="text" value=""
																th:field="${data.nama}" placeholder="Nama"
																class="form-control"  required="true"/>
														</div>
													</div>
													<input name="is_dapat_lulus" type="hidden"
														class="form-control" /> <input name="ip" type="hidden"
														class="form-control" /> <input name="ipk" type="hidden"
														class="form-control" /> <input name="sks_total"
														type="hidden" class="form-control" /> 
													<div class="col-md-12">
														<div class="form-group">
															<label>NPM</label> <input type="text" value=""
																th:field="${data.npm}" placeholder="NPM"
																class="form-control"  required="true"/>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label>Universitas</label> <select class="form-control"
																name="id_univ" id="univ" required="true">
																<option value="-1">--Pilih Universitas</option>
																<option th:each="univ : ${univ}"
																	th:value="${univ.id_univ}" th:text="${univ.nama_univ}"
																	th:selected="${data.id_univ == univ.id_univ}"
																	></option>
															</select>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label>Fakultas</label> <select class="form-control"
																name="id_fakultas" id="fakultas" required="true">
																<option value="-1">--Pilih fakultas</option>
															</select>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<label>Program Studi</label> <select class="form-control"
																name="id_program_studi" id="prodi" required="true">
																<option value="-1">--Pilih Prodi</option>
															</select>
														</div>
													</div>
													<div class="col-md-12">
														<div class="form-group">
															<button class="btn btn-primary" type="submit"
																name="action">Ubah</button>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="fragment :: footer"></div>
	</div>
</body>
<div th:replace="fragment :: javascript"></div>
<script type="text/javascript">
	$(document).ready(function(){
		// sendAjax();
		$('select[name="id_univ"]').change(function() {
			var id = $(this).val();
			$.ajax({
				type:'GET',
				url : "/mahasiswa/update/fakultas",
				dataType: "html",
				data: {
					namafakultas: id
				},
				success: function(response) {
					var obj = JSON.parse(response);
					var html = '<option value="">--Pilih fakultas</option>';
		            for(var i in obj ){
		            		if(id == obj[i].id_fakultas) {
		                 html += '<option selected ="selected" value="' + obj[i].id_fakultas + '">' + obj[i].nama_fakultas + '</option>';
		            		} else {
		            			 html += '<option value="' + obj[i].id_fakultas + '">' + obj[i].nama_fakultas + '</option>'
		            		}
		             }
		            document.getElementById('fakultas').innerHTML = html;
				}
			})
		});
		$('select[name="id_fakultas"]').change(function() {
			var id_univ = $('#univ').val();
			var id_fakultas = $(this).val();
			$.ajax({
				type:'GET',
				url : "/mahasiswa/update/prodi",
				dataType: "html",
				data: {
					namafakultas: id_univ,
					namaprodi: id_fakultas
				},
				success: function(response) {
					var obj = JSON.parse(response);
					var html = '<option value="">--Pilih Prodi</option>';
		            for(var i in obj ){
		                 html += '<option value="' + obj[i].id_prodi + '">' + obj[i].nama_prodi + '</option>';
		             }
		            document.getElementById('prodi').innerHTML = html;
				}
			})
		});
		
	});
	
	function sendAjax(){
		var id = $("#univ").val();
		$.ajax({
			type:'GET',
			url : "/mahasiswa/update/fakultas",
			dataType: "html",
			data: {
				namafakultas: id
			},
			success: function(response) {
				var obj = JSON.parse(response);
				var html = '<option value="">--Pilih fakultas</option>';
	            for(var i in obj ){
	            		if(id == obj[i].id_fakultas) {
	                 html += '<option selected ="selected" value="' + obj[i].id_fakultas + '">' + obj[i].nama_fakultas + '</option>';
	            		} else {
	            			 html += '<option value="' + obj[i].id_fakultas + '">' + obj[i].nama_fakultas + '</option>'
	            		}
	             }
	            document.getElementById('fakultas').innerHTML = html;

                var html = '<option value="">--Pilih Prodi</option>';
                document.getElementById('prodi').innerHTML = html;
			}
		})
	}
	function getProdi(){
		var id_univ = $('#univ').val();
		var id_fakultas = $('#fakultas').val();
		$.ajax({
			type:'GET',
			url : "/mahasiswa/update/prodi",
			dataType: "html",
			data: {
				namafakultas: id_univ,
				namaprodi: id_fakultas
			},
			success: function(response) {
				var obj = JSON.parse(response);
				var html = '<option value="">--Pilih Prodi</option>';
	            for(var i in obj ){
	            		if(id_fakultas == obj[i].id_prodi) {
	            			console.log("hahah")
	                 html += '<option selected ="selected" value="' + obj[i].id_prodi + '">' + obj[i].nama_prodi + '</option>';
	            		} else {
	            			 html += '<option value="' + obj[i].id_prodi + '">' + obj[i].nama_prodi + '</option>'
	            		}
	             }
	            document.getElementById('prodi').innerHTML = html;
			}
		})
	}
	</script>
</html>